<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appel</key>
	<string></string>
	<key>Banaan</key>
	<string></string>
	<key>Peer</key>
	<string></string>
	<key>Aardbei</key>
	<string></string>
	<key>Kiwi</key>
	<string></string>
	<key>Druif</key>
	<string></string>
</dict>
</plist>
